
:root {
    --main-bg-color: #182634;
    --green-circle: #74F807;
    --font-circle: #212529;
    --titles-size-on-pc: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}


h2 {
    font-family: inherit;
    font-style: inherit;
    font-weight: 600;
}


.menu__product--list {
    background-color: var(--main-bg-color);
    display: none;
    list-style: none;
    position: absolute;
    z-index: 9999;
    opacity: 0.8;
}

.shown{
    background-color: var(--main-bg-color);
    bottom: 0;
    display: block;
    height: 40%;
    position: fixed;
    right: 1.1%;
    top: 11%;
    text-align: center;
}

#logo {
    width: 70%;
    display: flex;
}

#logo img {
    height: 100%;
    padding-left: 3em;
    align-self: center;
}

#main--banner {
    width: 100%;
    height: auto;
}

#main--banner img {
    width: 100%;
    height: 50%;
}

.brands {
    width: 100%;
}

.brands__logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 3em auto;
}

.brands img {
    margin: 1em auto;
    width: 5em;
    height: 5em;
}

.brands__title {
    color: var(--green-circle);
    font-size: var(--titles-size-on-pc);
    text-align: center;
    position: relative;
}

.contact {
    background-color: var(--main-bg-color);
    color: rgba(255,255,255,0.7); 
    display: flex;
    font-size: 1.2em;
    justify-content: center; 
    margin-top: 4em;
    padding: 2em 0;
    width: 100%;  
}

.contact ul {
    list-style: none;
    text-align: center;
    width: 50%;
}

.main__text {
    font-family: inherit;
    font-size: 1.5em;
    font-style: inherit;
    font-weight: 100;
    margin: 2em;
    text-align: center;
    color: var(--font-circle);
}

.menu {
    font-family: inherit;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.menu a {
    align-self: center;
    text-decoration: none;
    color: rgba(255,255,255,0.5); 
}

.menu a:hover {
    color: #fff; 
}

.menu ul {
    align-self: center;
    list-style: none;
    text-decoration: none;
}

.navigation--bar {
    background-color: var(--main-bg-color);
    display: flex;
    font-size: 1.4em;
    height: 5em;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.products {
    background-color: var(--main-bg-color);
    color: rgba(255,255,255,0.7); 
    margin: 2em auto;
    padding: 2em 0;
}

.products__section {
    display: flex;
    justify-content: center;
    padding: 0 5em;
    margin: 2em 0;
}

.hideSubList {
    display: none;
}

.products__title {
    font-size: var(--titles-size-on-pc);
    text-align: center; 
    color: var(--green-circle);
    position: relative;
}

.products__title::before, .brands__title::before {
    content: '';
    position: absolute;
    top: 2px;
    right: 56%;
    bottom: 2px;
    width: 5px;
    background: linear-gradient(147.59deg,#1782ff 4.15%,#78ff00 69.15%,#ffe600 100%);
}

.section__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.section__img img {
    width: 30%;
    height: auto;
    border-radius: 2%;
}

.section__description {
    padding-left: 4em;
    width: 50%;
    align-self: center;
    color: rgba(255,255,255,0.5); 
}

.section__description ul {
    list-style: none;
}

.title--heading {
    display: flex;
    height: 7em;
    justify-content: space-around;
    margin-top: 7em;
}

.title__main{
    font-family: inherit;
    font-size: 2em;
    font-style: inherit;
}

.title--heading *{
    align-self: center;
}

.quote__link {
    display: flex;
    justify-content: center;
    color: rgba(0,0,0,0.5); 
}

.quote__link * {
    margin: auto 0.5em;
}

.quote__link img {
    width: 7%;
}


@media only screen and (max-width: 500px)  {
    #logo {
        width: 20%;
    }

    #logo img {
        padding-left: 0.5em;
    }

    .brands__logos {
        grid-template-columns: repeat(2, 1fr);
        margin: 1em auto;
    }

    .menu {
        width: 80%;
    }

    .navigation--bar {
        font-size: 1em;
    }

    .products__section {
        display: block;
        width: 100%;
        padding: 0 2em;
    }

    .products__title::before, .brands__title::before {
        right: 72%;
    }
    
    .section__img img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        border-radius: 2%;
    }

    .section__img {
        width: 100%;
    }

    .section__description {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .shown{
        height: 30%;
        right: 1.1%;
        top: 8%;
    }

    .title--heading {
        margin-top: 5em;
    }    

    .title__main {
        font-size: 1em;
    }
}